/** Fonts **/
@font-face {
  font-family: 'fivepixwriter';
  src: url('../fonts/5pixwriter.ttf');
}

/** Reset & core **/
*, *:after, *:before {
  box-sizing: border-box;
  // Disable text selection
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // Show default cursor to avoid it looking like text is seelctable
  cursor: default;
}
html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}
img {
  border: 0;
}
.hide {
  display: none;
}

/** Typography **/
body {
  background: #000;
  color: #fff;
  text-align: center;
  font-family: fivepixwriter, monospace;
  font-size: 6pt * 4;
}
h1, h2, h3, h4, h5, b, strong {
  font-weight: normal;
}
h1 {
  font-size: 6pt * 6;
}
h2 {
  font-size: 6pt * 5;
}
h3 {
  font-size: 6pt * 4;
}

/** Canvas **/
canvas {
  /** We want nearest neighbor stretching (pixelated) for all canvas elements **/
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
#game, #hud {
  $width: 640px * 2;
  $height: 400px * 2;

  position: fixed;
  width: $width;
  height: $height;
  top: 50%;
  left: 50%;
  margin-top: -($height / 2);
  margin-left: -($width / 2);
  z-index: 100;
}
#hud {
  // #hud is an exact overlay of the game canvas
  display: none;
  z-index: 200;
  padding: 15px;
  text-align: left;

  #fps {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

/** Boot logo **/
#burningtomato {
  $height: 500px;
  height: $height;
  top: 50%;
  margin-top: -($height / 2) - 50;
  position: fixed;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;
}

/** Story tool **/
#dev-story {
  position: absolute;
  left: 0px;
  bottom: 0;
  padding: 5px 10px;
  color: #fff;
  background: rgba(120, 120, 120, 0.5);
  font-size: 18pt;
  text-shadow: 1px 1px 1px #000;
  text-align: left;

  small {
    font-size: 14pt;
  }
}